* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P';
  background-image: url('../assets/background-gif-1.gif');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh; 
}

.center{
  grid-row-start: 1;
  justify-self: center;
}

#logo {
  width: 17vh; 
  margin-bottom: 5vh;
  margin-top: 2vh;
  margin-right: 0.2vw;
}


.blocks {
  grid-row-start: 2;
  justify-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pushable {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: 'Press Start 2P';
  color: white;
  padding: 6vh;
  border-radius: 12px;
  position: relative; 
  overflow: hidden; 
  height: 50%;
  margin: 3% 3%;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}

.pushable:hover{
  transform: translate(-10px, -10px);
}

#content-container {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 3;
  border-radius: 12px;
  color: white;
}

[data-modal="about-me-modal"] { background-color: #e60012; }
[data-modal="projects-modal"] { background-color: #ffc82e; }
[data-modal="socials-modal"] { background-color: #53da3f; }
[data-modal="contact-me-modal"] { background-color: #A020F0; }

.modal-content {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0;
  height: 0;
  z-index: 10; 
  padding: 20px; 
  overflow: auto;
  border-radius: 10px;
}



.close-button {
  position: absolute;
  left: 2%;
  top: 2%;
  background: transparent;
  border: none;
  cursor: pointer;
}


.close-image{
  width: 10vh;
  height: 10vh;
}

#about-me-modal-content{
  display: none;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

#projects-modal-content{
  display: none;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

#socials-modal-content{
  display: none;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

#contact-me-modal-content{
  display: none;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

/*Socials content css*/
.social-button{
  background: transparent;
  border: none;
  cursor: pointer;
  grid-row-start: 10;
}

#yt-logo{
  height: 12vw;
  width: 12vw;
  transition: transform 0.3s ease;
}

#yt-logo:hover{
  transform: scale(1.2);
}


#twt-logo{
  height: 12vw;
  width: 12vw;
  transition: transform 0.3s ease;
}

#twt-logo:hover{
  transform: scale(1.2);
}

#gt-logo{
  height: 12vw;
  width: 12vw;
  transition: transform 0.3s ease;
}

#gt-logo:hover{
  transform: scale(1.2);
}

#ln-logo{
  height: 12vw;
  width: 12vw;
  transition: transform 0.3s ease;
}

#ln-logo:hover{
  transform: scale(1.2);
}

#yt{
  grid-column-start: 5;
  transition: transform 0.3s ease;
}

#twt{
  grid-column-start: 9;
}

#gt{
  grid-column-start: 13;
}

#ln{
  grid-column-start: 17;
}

#socials-title{
  font-size: 2.5vw;
  white-space: nowrap;
  grid-column: 8 / span 6;
  grid-row: 2;
  justify-self: center;
}


/*About me content*/

#head{
  width: 15vw;
  height: 18vw;
  grid-row-start: 5;
  grid-column: 2 / span 2;
  justify-self: center;
  margin-left: 0.5vw;
}

#ab-title{
  font-size: 2.5vw;
  white-space: nowrap;
  grid-column-start: 8;
  grid-row-start: 2;
}

#resume-button{
  border: none;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 3vh;
  grid-column: 2 / span 2;
  grid-row: 9 / span 3;
  transition: transform 0.3s ease;
}

#resume-button:hover{
  transform: translate(-10px, -10px);
}

#resume-background{
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-me-text{
  grid-row: 4 / span 15;
  grid-column: 5 / span 15;
  font-size: 1.3vw;
  line-height: 3.1vh;
  max-width: 100%;
  max-height: 90%;
}

/*Projects content*/

#p-title{
  font-size: 2.5vw;
  white-space: nowrap;
  grid-column-start: 10;
  grid-row-start: 1;
}

#web-dev-button{
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: white;
  text-decoration: none;
  font-size: 120%;
  grid-column: 4 / span 5;
  grid-row: 3 / span 2;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  font-family: "Press Start 2P";
}

#blockchain-button{
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: white;
  text-decoration: none;
  font-size: 120%;
  grid-column: 10 / span 1;
  grid-row: 3 / span 2;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  font-family: "Press Start 2P";
}

#education-button{
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: white;
  text-decoration: none;
  font-size: 120%;
  grid-column: 12 / span 6;
  grid-row: 3 / span 2;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  font-family: "Press Start 2P";
}

#web-dev-button.active-button,
#blockchain-button.active-button,
#education-button.active-button {
  background-color: white;
  color: black;
}

#projects-content{
  grid-row: 5 / span 16;
  grid-column: 1 / span 20;
}

.button-content {
  display: none;
}

.active-content{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

#portfolio-title{
  grid-row: 3 / span 2;
  grid-column: 2 / span 4;
  text-align: center;
  line-height: 4.5vh;
}

#portfolio-pic-link{
  grid-row: 8 ;
  grid-column: 2 / span 4;
  width: 85%;
  justify-self: center;
}

#portfolio-pic{
  width: 80%;
  height: auto;
  margin-left: 1.2vw;
}

#portfolio-description{
  grid-row: 11 / span 5;
  grid-column: 1 / span 6;
  font-size: 3vh;
  justify-self: center;
  text-align: center;
  line-height: 4vh;
}

#funny-game-title{
  grid-row: 3 / span 2;
  grid-column: 8 / span 4;
  text-align: center;
  line-height: 4.5vh;
}

#funny-game-pic-link{
  grid-row: 8;
  grid-column: 7 / span 6;
  width: 80%;
  justify-self: center;
}

#funny-game-pic{
  width: 100%;
  height: auto;
  margin-top: 2vh;
  margin-left: 2vw;
}

#funny-game-description{
  grid-row: 10 / span 5;
  grid-column: 7 / span 7;
  font-size: 2vh;
  justify-self: center;
  text-align: center;
  line-height: 4vh;
  width: 85%;
}

#hestia-title{
  grid-row: 3 / span 2;
  grid-column: 14 / span 7;
  text-align: center;
  line-height: 4.5vh;
}

#hestia-pic-link{
  grid-row: 8;
  grid-column: 14 / span 6;
  width: 80%;
  justify-self: center;
}

#hestia-pic{
  width: 100%;
  height: auto;
  margin-top: 6vh;
  margin-left: 2vw;
}

#hestia-description{
  grid-row: 11 / span 5;
  grid-column: 14 / span 7;
  font-size: 2vh;
  justify-self: center;
  text-align: center;
  line-height: 4vh;
}

#DAO-title{
  grid-row: 4 / span 4;
  grid-column: 4 / span 7;
  font-size: 5vh;
}

#DAO-pic-link{
  grid-row: 9;
  grid-column: 3 / span 5;
  width: 80%;
  justify-self: center;
}

#DAO-pic{
  width: 70%;
  height: auto;
  margin-left: 5vw;
  margin-top: 1vh;
}

#DAO-description{
  grid-row: 12 / span 4;
  grid-column: 1 / span 10;
  font-size: 1.5vw;
  text-align: center;
  margin-left: 3vw;
  line-height: 4vh;
}

#movelo-title{
  grid-row: 4 / span 4;
  grid-column: 14 / span 7;
  font-size: 5vh;
}

#movelo-pic-link{
  grid-row: 9;
  grid-column: 11 / span 9;
  width: 80%;
  justify-self: center;
}

#movelo-pic{
  width: 100%;
  height: auto;
  margin-top: 10vh;
  margin-left: 2vw;
}

#movelo-description{
  grid-row: 12 / span 4;
  grid-column: 10 / span 10;
  justify-self: center;
  width: 95%;
  font-size: 1.5vw;
  text-align: center;
  margin-left: 7vw;
  line-height: 4vh;
}

#one-title{
  grid-row: 3 / span 4;
  grid-column: 3 / span 6;
  font-size: 4vh;
  text-align: center;
  line-height: 5vh;
}

#one-pic-link{
  grid-row: 9 / span 10;
  grid-column: 3 / span 5;
  width: 80%;
  justify-self: center;
}

#one-pic{
  width: auto;
  height: 110%;
  margin-left: 5vw;
}

#one-description{
  grid-row: 19;
  grid-column: 1 / span 10;
  font-size: 1.3vw;
  text-align: center;
  margin-top: 6vh;
  line-height: 3vh;
}

#cd-yt-title{
  grid-row: 3 / span 4;
  grid-column: 11 / span 10;
  font-size: 4vh;
  text-align: center;
  line-height: 5vh;
}

#cd-yt-pic-link{
  grid-row: 5 / span 10;
  grid-column: 14 / span 4;
  width: 90%;
  justify-self: center;
}

#cd-yt-pic{
  width: auto;
  height: 100%;
  margin-top: 10vh;
  margin-left: 2vw;
}

#cd-yt-description{
  grid-row: 19;
  grid-column: 11 / span 10;
  justify-self: center;
  width: 90%;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 6vh;
  line-height: 3.5vh;
}



/*Contact Me*/

#c-title{
  font-size: 2.5vw;
  white-space: nowrap;
  grid-column-start: 10;
  grid-row-start: 1;
}

#mail-img-link{
  grid-row: 5 / span 8;
  grid-column: 7  / span 7;
  justify-self: center;
  transition: transform 0.3s ease;
}

#mail-img-link:hover{
  transform: translate(-10px, -20px);
}


#mail-img{
  width: auto;
  height: 100%;
}

#copy-email-button{
  border: none;
  background-color: white;
  color: black;
  font-family: "Press Start 2P";
  grid-row: 15 / span 2;
  grid-column: 7 / span 7;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  font-size: 2vw;
  transition: transform 0.3s ease;
}

#copy-email-button:hover{
  transform: translate(-10px, -10px);
}