* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P';
  background-image: url('../assets/background-gif-1.gif');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh; 
}

.center{
  grid-row-start: 1;
  justify-self: center;
}

#logo {
  width: 17vh; 
  margin-bottom: 5vh;
  margin-top: 2vh;
  margin-right: 0.2vw;
}


.blocks {
  grid-row-start: 2;
  justify-self: center;
}

.pushable {
  background-color: transparent;
  border: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  color: white;
  padding: 40px; 
  margin: 0; 
  border-radius: 12px;
  position: relative; 
  overflow: hidden; 
}

#content-container {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 3;
  border-radius: 12px;
}

[data-modal="about-me-modal"] { background-color: #ff8400; }
[data-modal="projects-modal"] { background-color: #cc02f5; }
[data-modal="socials-modal"] { background-color: red; }
[data-modal="contact-me-modal"] { background-color: #00ff00; }

.modal-content {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0;
  height: 0;
  z-index: 10; 
  padding: 20px; 
  overflow: auto;
  border-radius: 10px;
  background-color: white;
}


.modal-content.active {
  display: block;
  width: 85vw;  
  height: 85vh; 
  transform: translate(-50%, -50%) scale(1);
}

.close-button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-image{
  width: 10vh;
  height: 10vh;
}