/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-image: url('../assets/background-gif-1.gif');
  background-color: #88c3f3;
  background-size: cover;
}

.center {
  display: flex;
  justify-content: center;
}

#logo {
  width: 15vh;
  height: 15vh;
}

#blocks {
  padding-top: 12vh;
  display: flex;
  justify-content: center;
}

.pushable {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Press Start 2P';
  text-align: left;
  text-shadow: 1px 1px grey;
  padding: 10px;
  border-radius: 12px;
}

/* Content Container Styles */
#content-container {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 3;
  border-radius: 12px;
  transition: all 0.5s ease-in-out;
}

[data-modal="about-me-modal"] { background-color: #ff8400; }
[data-modal="projects-modal"] { background-color: #cc02f5; }
[data-modal="socials-modal"] { background-color: #ffffff; }
[data-modal="contact-me-modal"] { background-color: #00ff00; }

a {
  color: rgb(252, 231, 0);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Hide the button initially */
}

.close-button img {
  width: 40px; /* Increase the size */
  height: 40px; /* Increase the size */
}